<div class="page-header">
	<h1>Agent</h1>
</div>

<strong>Status : </strong>{{status['oms-agent'].status}}<br>
<strong>Pid : </strong>{{status['oms-agent'].pid}}<br>
<strong>Link : </strong><a href="{{links['oms-agent']}}" target="_blank" ng-if="status['oms-agent'].pid">Link</a><br>
<hr>
<strong><textarea class="form-control" rows="10" disabled>{{console['oms-agent']}}</textarea></strong>
<hr>
<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="start('oms-agent')">
		<span class="glyphicon glyphicon-play"></span> Start
	</button>
	<button type="button" class="btn btn-default" ng-click="stop('oms-agent')">
		<span class="glyphicon glyphicon-stop"></span> Stop
	</button>
	<button type="button" class="btn btn-default" ng-click="restart('oms-agent')">
		<span class="glyphicon glyphicon-repeat"></span> Restart
	</button>
</div>
