<div class="page-header">
	<h1>API</h1>
</div>

<strong>Status : </strong>{{status['oms-api'].status}}<br>
<strong>Pid : </strong>{{status['oms-api'].pid}}<br>
<hr>
<strong><textarea class="form-control" rows="10" disabled>{{console['oms-api']}}</textarea></strong>
<hr>
<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="start('oms-api')">
		<span class="glyphicon glyphicon-play"></span> Start
	</button>
	<button type="button" class="btn btn-default" ng-click="stop('oms-api')">
		<span class="glyphicon glyphicon-stop"></span> Stop
	</button>
	<button type="button" class="btn btn-default" ng-click="restart('oms-api')">
		<span class="glyphicon glyphicon-repeat"></span> Restart
	</button>
</div>
