<div class="page-header">
	<h1>Overview</h1>
</div>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Service</th>
			<th>Status</th>
			<th>PID</th>
			<th>Link</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(serviceName, service) in status">
			<td>{{serviceName}}</td>
			<td>{{service.status}}</td>
			<td>{{service.pid}}</td>
			<td><a href="{{links[serviceName]}}" target="_blank" ng-if="service.pid && links[serviceName]">Link</a></td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" ng-click="start(serviceName)">
						<span class="glyphicon glyphicon-play"></span> Start
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="stop(serviceName)">
						<span class="glyphicon glyphicon-stop"></span> Stop
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="restart(serviceName)">
						<span class="glyphicon glyphicon-repeat"></span> Restart
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>