/* Sticky footer styles
-------------------------------------------------- */

html, body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by its height */
	margin: 0 auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
	height: 60px;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
	padding: 40px 15px 0;
}
.container .credit {
	margin: 20px 0;
}

#footer > .container {
	padding-left: 15px;
	padding-right: 15px;
}

code {
	font-size: 80%;
}

/**
 * API Documentation
 */

.label-method {
	width: 65px;
	display: block;
	margin-right: 15px;
	float: left;
	padding: 3px;
}

.api-url {
	font-family: monospace;
	font-size: 14px;
}

.list-group-item {
	padding-top: 7px;
	padding-bottom: 7px;
}

#accordion .panel-heading {
	cursor: pointer;
}

#sidebar {
	margin-top: 20px;
}

.required {
	color: red;
	font-weight: bold;
	font-size: 120%;
	margin-right: 20px;
	float: left;
}

.parameter-description {
	margin-left: 0px;
	padding-left: 5px;
	text-align: left;
}

.parameter-description i {
	display: block;
	float: left;
	padding-top: 7px;
}

.parameter {
	margin-right: 0px;
	padding-right: 0px;
}

td[class^="config-"][class$="-edit"] {
	display: none;
}

a.list-group-title {
	font-weight: bold;
	text-align: center;
	text-decoration: underline;
}

a.list-group-title:hover {
	cursor: auto;
	background-color: transparent;
	text-decoration: underline;
}

a.list-group-title:focus {
	cursor: auto;
	background-color: transparent;
	text-decoration: underline;
}