<div class="page-header">
	<ol class="breadcrumb">
		<li><a href="/services">Services</a></li>
		<li class="active">{{server.hostname}}</li>
	</ol>
	<h1>{{server.hostname}}</h1>
</div>



<div class="row">
	<div class="col-md-4">
		<table class="table">
			<thead>
				<th colspan="2">Operating System</th>
			</thead>
			<tbody>
				<tr>
					<td><strong>Type: </strong></td>
					<td>{{server.type}}</td>
				</tr>
				<tr>
					<td><strong>Platform: </strong></td>
					<td>{{server.platform}}</td>
				</tr>
				<tr>
					<td><strong>Release: </strong></td>
					<td>{{server.release}}</td>
				</tr>
				<tr>
					<td><strong>Tmp directory: </strong></td>
					<td>{{server.tmpDir}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<table class="table">
			<thead>
				<th colspan="2">Hardware</th>
			</thead>
			<tbody>
				<tr>
					<td><strong>Memory: </strong></td>
					<td>{{(server.totalMemory/1024/1024/1024) | number:2}}Gb</td>
				</tr>
				<tr>
					<td><strong>Architecture: </strong></td>
					<td>{{server.architecture}}</td>
				</tr>
				<tr>
					<td><strong>Number of CPU's: </strong></td>
					<td>{{server.cpus.length}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-md-4">
		<table class="table">
			<thead>
				<th colspan="2">Network</th>
			</thead>
			<tbody ng-repeat="(interface, networks) in server.networkInterfaces">
				<tr ng-repeat="network in networks">
					<td><strong>{{interface}}</strong></td>
					<td>{{network.address}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>



<h2>Configuration</h2>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Key</th>
			<th>Value</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(key, value) in server.config">
			<!-- VIEW -->
			<td class="config-{{key}}-view">{{key}}</td>
			<td class="config-{{key}}-view">{{value | limitTo:40}}</td>
			<td class="config-{{key}}-view">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" ng-click="setEditable(true, key)">
						<span class="glyphicon glyphicon-pencil"></span> Edit
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="removeServerConfig(key)">
						<span class="glyphicon glyphicon-trash"></span> Delete
					</button>
				</div>
			</td>
			<!-- EDIT -->
			<td class="config-{{key}}-edit">{{key}}</td>
			<td class="config-{{key}}-edit"><input type="text" class="form-control" value="{{value}}"></td>
			<td class="config-{{key}}-edit">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" ng-click="setServerConfig(key)">
						<span class="glyphicon glyphicon-ok"></span> Save
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="setEditable(false, key)">
						<span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
				</div>
			</td>
		</tr>
		<!-- ADD -->
		<tr>
			<td class="config-add"><input type="text" class="form-control"></td>
			<td class="config-add"><input type="text" class="form-control"></td>
			<td class="config-add">
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" ng-click="addServerConfig()">
						<span class="glyphicon glyphicon-plus"></span> Add
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>



<h2>OMS Services</h2>

<table class="table table-stripped">
	<thead>
		<tr>
			<th>Service</th>
			<th>Status</th>
			<th>PID</th>
			<th>Link</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="service in server.services">
			<td><a href="/server/{{server.hostname}}/{{service.name}}">{{service.name}}</a></td>
			<td><span class="label" ng-class="{'label-success': service.status=='running', 'label-warning': service.status=='stopped'}">{{service.status | uppercase}}</span></td>
			<td>{{service.pid}}</td>
			<td>
				<a href="{{getLink(server, service.name)}}" target="_blank" ng-if="service.pid && getLink(server, service.name)" class="btn btn-default btn-xs" role="button">
					<span class="glyphicon glyphicon-new-window"></span> Link
				</a>
			</td>
			<td>
				<div class="btn-group">
					<button type="button" class="btn btn-default btn-xs" ng-click="start(server._id, service.name)">
						<span class="glyphicon glyphicon-play"></span> Start
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="stop(server._id, service.name)">
						<span class="glyphicon glyphicon-stop"></span> Stop
					</button>
					<button type="button" class="btn btn-default btn-xs" ng-click="restart(server._id, service.name)">
						<span class="glyphicon glyphicon-repeat"></span> Restart
					</button>
				</div>
			</td>
		</tr>
	</tbody>
</table>



<h2>Actions</h2>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#delete">
	<span class="glyphicon glyphicon-trash"></span> Delete server
</button>

<br><br>



<!-- Delete confirmation -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<!-- Header -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Are you sure ?</h4>
			</div>
			<!-- Body -->
			<div class="modal-body">
			<p>
			Are you sure to delete the following server?<br><br>
			Hostname: {{server.hostname}}<br>
			Type: {{server.type}}<br>
			Installed services:<br>
			<ul>
				<li ng-repeat="service in server.services">{{service.name}}</li>
			</ul>
			</p>
			</div>
			<!-- Footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="deleteServer(server._id);">Delete</button>
			</div>
		</div>
	</div>
</div>